*{
  margin: 0;
  padding: 0;
}
.main{
  background-image: url("assests/images/bg.jpg"); 
  height: 80vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw)
   
}

.main .box{
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  position: absolute;
  top: 0;
  background-color: black;
}

nav{
  display: flex;
  max-width: 60vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

nav img{
  color: red;
  width: 150px;
  position: relative;
  z-index: 999;
}

  nav button{
    position: relative;
    z-index: 999;
  }