*{
  margin: 0;
  padding: 0;
}
.main{
  background-image: url("assests/images/bg.jpg"); 
  height: 80vh;
  position: relative;
}

.main .box{
  height: 80vh;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

nav{
  z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}

.main nav svg{
  height: 40px;
  fill: rgb(229,9,20);
  color: rgb(229,9,20);
  position: relative;
 
}

.sign button{
  background-color: red;
  border: none;
  color: white;
  padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    width: auto;
}