* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  color: white;
}
.main {
  background-image: url("assests/images/bg.jpg");
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.main .box {
  height: 90vh;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  padding: 20px 0px;
}

nav {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 140px;
}

.hero{
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main nav svg {
  height: 40px;
  fill: rgb(229, 9, 20);
  color: rgb(229, 9, 20);
  position: relative;
}

.sign button {
  background-color: red;
  border: none;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  width: auto;
}
.head h1 {
  position: relative;
  text-align: center;
  z-index: 1;
  margin: 0px auto;
  max-width: 40%;
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.sub-hero {
  position: relative;
  text-align: center;
  z-index: 1;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.sub{
  position: relative;
  text-align: center;
  z-index: 1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}
.btnmail{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  column-gap: 45px;
}
.email{
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  padding: 1.5rem 1rem 0.5rem;
  background-clip: padding-box;
  border: 2px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.247);
}

.strt{
  border: 0px;
    cursor: pointer;
    fill: currentcolor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
    vertical-align: text-top;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}